# IntelliJ project files
.idea
*.iml
out
gen

node_modules/**/*

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
.vscode

/notes
/backup
/lib
/dist
/umd
/docs
/coverage
/benchmark
